* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', sans-serif;
}

body {
    background-image: url("../assets/images/skyRPS.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    text-align: center;
    margin: 0;
    padding: 0;

    font-weight: bold;
    font-size: larger;
    height: 100vh;
}

/* Main game area */
#game-head {
    margin: 20px auto;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid;
    border-radius: 60px 20px;
    width: 60%;
    text-shadow: 1px 0.5px 2px white;
}

#user-choice {
    display: none;
}

#result-notice-text {
    margin: 1px auto;
    text-shadow: 1px 0.5px 3px white;
    line-height: 79px;
    font-size: 32px;
}

#game {
    background: rgba(0, 0, 0, 0.3);
    margin: 40px auto 0;
    height: 59%;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#game-box1 {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
    width: 60%;
}

#game-box2 {
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user-score {
    border-radius: 20px;
}

#computer-score {
    border-radius: 60px 20px;
}

/* Rock, Paper, Scissors styling */

button {
    background-color: black;
    margin: 10px;
    border: 1px solid white;
    width: 160px;
    height: 103px;
    border-radius: 30%;
    cursor: pointer;
    text-decoration: none;
}

#rock {
    background-image: url(../assets/images/pngwing.com\(1\).png);
    background-size: 103px 66px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
    
}

#rock:hover {
    background-size: 120px 90px;
}

#paper {
    background-image: url(../assets/images/pngwing.com.png);
    background-size: 67px 61px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
}

#paper:hover {
    background-size: 90px 90px;
}

#scissors {
    background-image: url(../assets/images/pngwing.com\(2\).png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
}

#scissors:hover {
    background-size: 60px 60px;
}

/* --------- Media queries */

@media (max-width: 768px) {
    #game {
        width: 99%;
        margin: 50px 2px 0 2px;
    }
}


@media (max-width: 414px) {
    body {
        height: 140vh;
    }

    #game {
        margin: 100px auto 0 15px;
        height: 59%;
        width: 104%;
    }

    #game-box1 {
        width: 90%;
    }

    button {
        width: 129px;
    }
}


@media (max-width: 320px) {
    #game {
        height: 63%;
        width: 129%;
        margin: 100px 2px 0 2px;
    }

    #game-box2 {
        margin: 20px auto 365px;
    }

    button {
        width: 115px;
    }

}